<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewClicked()">New recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
       <app-recipe-item
            *ngFor="let recipeItem of recipes; let id = index;"
            [recipe]="recipeItem"
            [recipeId]="id">
        </app-recipe-item>
    </div>
</div>
