<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a
                style="cursor: pointer"
                class="list-group-item"
                *ngFor="let ingredient of ingredients; let i = index;"
                (click)="selectedIngredient(i)">
                {{ ingredient.name }} ({{ ingredient.amount}})
            </a>
        </ul>
    </div>
</div>