<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Recipe Book</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive='active'><a routerLink="/recipes">Recipes</a></li>
      <li routerLinkActive='active'><a routerLink="/shopping-list">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a style="cursor:pointer;" class="dropdown-toggle"  data-toggle="dropdown">Manage <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a style="cursor:pointer;" (click)="onSave()">Save data</a></li>
          <li><a style="cursor:pointer;" (click)="onFetch()">Fetch data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>