<div class="row">
    <div class="col-xs-12">
        <form #shoppingListForm="ngForm" (ngSubmit)="onSubmitIngredient()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input
                    type="text"
                    id="name"
                    class="form-control"
                    ngModel
                    name="name"
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input
                    type="number"
                    id="amount"
                    class="form-control"
                    ngModel
                    pattern="^[1-9][0-9]*$"
                    name="amount"
                    required>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <button
                            class="btn btn-success"
                            type="submit"
                            [disabled]="!shoppingListForm.valid">{{ editMode ? 'Update' : 'Add' }}
                        </button>
                        <button
                            class="btn btn-danger"
                            *ngIf="editMode"
                            (click)="onDeleteIngredient()"
                            type="button">Delete
                        </button>
                        <button
                            class="btn btn-primary"
                            (click)="onClearIngredient()"
                            type="button">Clear
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>